h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 156px;
    padding: 0 15px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
address {
    font-style: normal;
}

form {
    font-family: "Roboto", sans-serif;
}

.header {
   border-bottom: 1px solid #E7E9FC;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
    font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     margin-right: 76px;
 }
.header-logo-studio {
   color: #2e2f42;
}

.header-nav-list {
    display: flex;
    width: 261px;
    justify-content: space-between;
    gap: 40px;
}

.header-nav-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         }

.header-nav-link.current {
    position: relative;
    color: #404BBF;

}

.header-nav-link.current::after {    
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
background-color: #404bbf;
}


.header-nav-link:hover {
    color: #404bbf; 
}
.header-nav-link:focus {
    color: #404bbf;
}
.header-address {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        }

.header-address-list {
    display: flex;
    gap: 40px;
}
.header-address-item {
    color: #434455;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-item:hover {
    color: #404bbf;
}
.header-address-item:focus {
    color: #404bbf;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.solutions {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-color: #2E2F42;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    background-position: center;
}

.solution-header {
    font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}
.solution-button {
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.solution-button:hover {
    background-color: #404bbf;
}
.solution-button:focus {
    background-color: #404bbf;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
    }

.advantages-item {
    width: ((100%-72px)/4);
}

.advantages-icon {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

.item-name {
    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-top: 8px;
        margin-bottom: 8px;
}

.item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 264px;
}
.team {
    background-color: #F4F4FD;
}
.section-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
    }

.team-item {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);    
}
.team-item-caption{
    padding: 32px 0;
}
    


.item-name-team {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    }

.item-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;    
}

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    }

.team-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.team-icon:hover {
    background-color: #404BBF;
}

.team-icon:focus {
    background-color: #404BBF;
}

.team-icon-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}
.section-3-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}
.section-3-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}


.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: 360px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container-img {
    position: relative;
    overflow: hidden;

}


.overlay {
    text-transform: capitalize;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        background-color: #4D5AE5;
        padding-top: 40px;
        padding-left: 32px;
        padding-right: 32px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item:focus .overlay {
    transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}




.portfolio-item-caption {
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
}



.item-name-portfolio {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
}

.item-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 264px;
}



.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-begin {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-studio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.footer-social-media {
    width: 208px;
    margin-right: 80px;
}


.footer-social-media-list {
    display: flex;
    gap: 16px;
}

.footer-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-social-media-text {
    color: white;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-icon:hover {
    background-color: #31d0aa;
}

.footer-icon:focus {
    background-color: #31d0aa;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-icon {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
    
}

.footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
}

.footer-form-subscribe {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}


.footer-form-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;    
}

.footer-form-input {
    color:#ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
}

.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-form-button {
    background-color: #4D5AE5;
    fill: white;
    color: white;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: start;
    align-self: flex-end;
    position: relative;
    
}

.footer-icon-plane {
    margin-left: 16px;
    color: white;
    }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale 1.5;

}

.modal {
    background-color: #FCFCFC;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke: #2E2F42;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-button:hover .modal-close {
    fill: white;
}
.modal-close-button:focus .modal-close {
    fill: white;
}

.modal-close {
    width: 8px;
    height: 8px;    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-form-legend {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-list {
    margin-bottom: 8px;

}


.modal-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}



.modal-label-container {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
    border-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    outline: none;
}

.modal-input:focus + .modal-label-icon {
    fill: #4D5AE5;
}

.modal-label-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 16px;
    fill: 2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-list-second {
    margin-bottom: 16px;
}   
.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus-within {
    border-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    outline: none;

}

.modal-form-checkbox {
    margin-bottom: 24px;
}

.modal-form-checkbox-input:checked + .label-checkbox > span {
    background-color:#404bbf;
    border: none; 
    fill: #F4F4FD;
}


.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
}

.span-checkbox {    
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}


.label-checkbox:hover {
    color: #4D5AE5;
    border: none;    
}

.modal-form-checkbox-link {
    color: #4D5AE5;
}


.modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}